/nvim/plugin
/dconf
/fish
/gtk-3.0
/manjaro
/nitrogen
/okularrc
/pypoetry
/Slack
/volumeicon
/autostart
/discord
/gconf
/hexchat
/manjaro-hello.json
/nix
/pamac
/qt5ct
/startship
/xarchiver
/bottom
/dmenu-recent
/GIMP
/htop
/matplotlib
/pavucontrol.ini
/ranger
/user-dirs.dirs
/xfce4
/BraveSoftware
/dunst
/glib-2.0
/i3-scrot.conf
/mimeapps.list
/obsidian
/pcmanfm
/rofi
/user-dirs.locale
/xmobar
/chromium
/epdfview
/google-chrome
/Kvantum
/morc_menu
/okular.kmessagebox
/picom.conf
/Skype
/viewnior
/clipit
/falkon
/gtk-2.0
/libfm
/Mousepad
/okularpartrc
/pulse
/skypeforlinux
/vlc
